.banner{
    background: url(../../assets/banner.png), lightgray 50% / cover no-repeat;
    width: 100%;
    height: 545px;
    position: relative; 
    
        .banner__content{
            position: absolute;
            display: block;
            text-align: left;
            margin-left: 8%;  
            margin-top: 80px; 
        
            

            .banner__title{
                color: rgba(29, 6, 5, 0.90);
                font-family: 'Lato', sans-serif;
                font-size: 22.861px;
                font-style: normal;
                font-weight: 700;                
            }

            .banner__principal{
                margin-top: 10px;
                color: #3B200B;               
                font-family: Lilita One;
                font-size: 77.651px;
                font-style: normal;
                font-weight: 400;
                line-height: 85.416px;

                span{
                    color: #F59A1B;
                }
            }

            .banner__text{
                color: rgba(29, 6, 5, 0.69);
                font-family: 'Lato', sans-serif;
                font-size: 22.861px;
                font-style: normal;
                font-weight: 400;
                margin-top:10px;

                span{
                    color: rgba(29, 6, 5, 0.69);
                    font-family: 'Lato', sans-serif;
                    font-size: 22.861px;
                    font-style: normal;
                    font-weight: 900;
                    background-color: #F59A1B;
                    border-radius:3px;
                    padding: 5px;
                }
            }
            button{
                display: inline-flex;
                font-family: 'Lato', sans-serif;
                padding: 10.16px 20.321px;
                align-items: center;
                color: #fff;          
                border-radius: 5.08px;
                background: #F43127;
                color: #FFF;
                border-color: transparent;
                font-size: 22.861px;
                font-style: normal;
                font-weight: 700;
                cursor: pointer;                
            }

        }        
    }

    @media (max-width:480px) {
        .banner{
            background: url(../../assets/bannermob.png), lightgray 50% / cover no-repeat;
            width: 100%;
            height: 856px;

            .banner__content{
                margin-left: 5%;
                margin-top: 80px;

                .banner__title{
                    font-size: 18px;
                }
            }
        }
        
    }